:root {
    --sub_special_size: 100px
}
body {
    background-color: gray;
}

.multiImage > * {
    position: absolute;
    height: inherit;
}
.multiImage > canvas {
    height: inherit;
    width: inherit;
}
.subSpecial {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    margin-left: 25%;
    margin-right:  25%;
}
.multiImage {
    height: var(--sub_special_size);
    width: var(--sub_special_size);
}
.subWeapon {
    height: calc(var(--sub_special_size) * 0.7);
    width: calc(var(--sub_special_size) * 0.7);
    margin: calc(var(--sub_special_size) * 0.15);
}

#mainWeaponDiv {
    display: flex;
    height: calc(var(--sub_special_size) * 2);
    width: calc(var(--sub_special_size) * 2);
    justify-content: space-around;
    width: 100%;
    margin-top: var(--sub_special_size);
}
.nameDiv {
    display: flex;
    justify-content: center;
    margin-bottom: -75px;
    font-family: "Splatoon";
    font-size: large;
}
#mainWeaponName {
    position: absolute;
    text-align: center;
}
.subSpecialName {
    margin-top: auto;
    text-align: center;
    width: var(--sub_special_size);
    font-family: "Splatoon";
}
@keyframes shake {
  0% {
    translate: 0 -100px;
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    translate: 0 100px;
    opacity: 0;
  }
}

@keyframes finish {
    0% {
        opacity: 0;
        transform: scale(1);
        translate: 0 -100px;
    }
    75% {
        transform: scale(1.2);
        opacity: 1;
        translate: 0;
    }
    100% {
        transform: scale(1);
    }
}

@font-face {
    font-family: "Splatoon";
    src: url(../assets/fonts/Splatoon2.otf);
}