:root {
    --sub_special_size: 100px
}
body {
    background-color: gray;
}

.multiImage > * {
    position: absolute;
    height: inherit;
}
.multiImage > canvas {
    height: inherit;
    width: inherit;
}
.subSpecial {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
    margin-left: 25%;
    margin-right:  25%;
}
.multiImage {
    height: var(--sub_special_size);
    width: var(--sub_special_size);
}
.subWeapon {
    height: calc(var(--sub_special_size) * 0.7);
    width: calc(var(--sub_special_size) * 0.7);
    margin: calc(var(--sub_special_size) * 0.15);
}

#mainWeaponDiv {
    display: flex;
    height: calc(var(--sub_special_size) * 2);
    width: calc(var(--sub_special_size) * 2);
    justify-content: space-around;
    width: 100%;
    margin-top: var(--sub_special_size);
}
.nameDiv {
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
    font-family: "Splatoon";
    font-size: large;
}
#mainWeaponName {
    position: absolute;
    text-align: center;
}
.subSpecialName {
    margin-top: auto;
    text-align: center;
    width: var(--sub_special_size);
    font-family: "Splatoon";
}

#colorPreview {
    display: inline-block;
    width: 50px;
    background-color: black;
}


#weaponConfig, #subConfig{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.weaponConfigImg{
    height: 50px;
    width: 50px;
    margin: 10px;
}
.subConfigImg {
    height: 75px;
    width: 75px;
    margin: 10px;
}
.generateDiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#generate {
    border-radius: 50px;
    font-size: xx-large;
}
/* Toggle Switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17.5px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 9.5px;
width: 9.5px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(17px);
-ms-transform: translateX(17px);
transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
@keyframes shake {
  0% {
    translate: 0 -100px;
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    translate: 0 100px;
    opacity: 0;
  }
}

@keyframes finish {
    0% {
        opacity: 0;
        transform: scale(1);
        translate: 0 -100px;
    }
    75% {
        transform: scale(1.2);
        opacity: 1;
        translate: 0;
    }
    100% {
        transform: scale(1);
    }
}

@font-face {
    font-family: "Splatoon";
    src: url(../assets/fonts/Splatoon2.otf);
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}